$list:"symphony","angular","spring";
.text{
    color: red;
    font-size: 20px;
}
textarea{
    @extend .text;
}
h1{
    @extend .text;
}


@mixin border($border) {
 border:$border;   
}
.btn{
    @include border(3px solid red);
}

@function background($color){
    @if ($color == white) {
        @return black;
    }
    @else{
        @return white;
    }
}
.btns{
    color:background(white);
}
@function first($list){
    @return nth($list,1);
}
@function last($list){
    @return nth($list,length($list));
}
.test{
    content: last($list);
}
